body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/*  */

.position_absolute_code {
  position: absolute;
}

.position_relative_code {
  position: relative;
}
.position_sticky_code {
  position: sticky;
}

/*  */

.parent_row_flex_box {
  display: flex;
  flex-direction: row;
}
.child_row_flex_50_per {
  width: 50vw;
}

/* ----------------------------------------------------------------------------------- */

/* display */

.display_flex_code_desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_flow_wrap {
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.display_none_desktop {
  display: none;
}

.display_block_code_desktop {
  display: block;
}

.display_inline_grid_code_desktop {
  display: -ms-inline-grid;
  display: inline-grid;
}

/*  */

.text_align_justify_code {
  text-align: justify;
}

/*  */

/* display */

/*  */

.full_border_radius {
  border-radius: 50px;
}
.border_radius_4 {
  border-radius: 4px;
}
.border_radius_6 {
  border-radius: 4px;
}

.border_radius_8 {
  border-radius: 4px;
}
.border_radius_10 {
  border-radius: 4px;
}

/*  */

/* paddings */

.padding_top_5 {
  padding-top: 5px;
}

.padding_top_10 {
  padding-top: 10px;
}

.padding_top_20 {
  padding-top: 20px;
}

.padding_top_30 {
  padding-top: 30px;
}

.padding_top_40 {
  padding-top: 40px;
}

.padding_top_50 {
  padding-top: 50px;
}

.padding_top_60 {
  padding-top: 60px;
}

.padding_top_70 {
  padding-top: 70px;
}

.padding_top_80 {
  padding-top: 80px;
}

.padding_top_90 {
  padding-top: 90px;
}

.padding_top_100 {
  padding-top: 100px;
}

.padding_top_180 {
  padding-top: 100px;
}

.padding_bottom_10 {
  padding-bottom: 10px;
}

.padding_bottom_20 {
  padding-bottom: 20px;
}

.padding_bottom_30 {
  padding-bottom: 30px;
}

.padding_bottom_40 {
  padding-bottom: 40px;
}

.padding_bottom_50 {
  padding-bottom: 50px;
}

.padding_bottom_60 {
  padding-bottom: 60px;
}

.padding_bottom_70 {
  padding-bottom: 70px;
}

.padding_bottom_80 {
  padding-bottom: 80px;
}

.padding_bottom_90 {
  padding-bottom: 90px;
}

.padding_bottom_100 {
  padding-bottom: 100px;
}

.padding_left_10 {
  padding-left: 10px;
}

.padding_left_20 {
  padding-left: 20px;
}

.padding_left_30 {
  padding-left: 30px;
}

.padding_left_40 {
  padding-left: 40px;
}

.padding_left_50 {
  padding-left: 50px;
}

.padding_left_60 {
  padding-left: 60px;
}

.padding_left_70 {
  padding-left: 70px;
}

.padding_left_80 {
  padding-left: 80px;
}

.padding_left_90 {
  padding-left: 90px;
}

.padding_left_100 {
  padding-left: 100px;
}

.padding_right_10 {
  padding-right: 10px;
}

.padding_right_20 {
  padding-right: 20px;
}

.padding_right_30 {
  padding-right: 30px;
}

.padding_right_40 {
  padding-right: 40px;
}

.padding_right_50 {
  padding-right: 50px;
}

.padding_right_60 {
  padding-right: 60px;
}

.padding_right_70 {
  padding-right: 70px;
}

.padding_right_80 {
  padding-right: 80px;
}

.padding_right_90 {
  padding-right: 90px;
}

.padding_right_100 {
  padding-right: 100px;
}

/*  */

.width_100_px {
  width: 100px;
}

.width_100_per {
  width: 100%;
}

/*  */

/* paddings */

/* ----------------------------------------------------------------------- */
.margin_top_zero {
  margin-top: 0;
}
.margin_left_zero {
  margin-left: 0;
}
.margin_right_zero {
  margin-right: 0;
}
.margin_bottom_zero {
  margin-bottom: 0;
}

.padding_top_zero {
  padding-top: 0;
}
.padding_left_zero {
  padding-left: 0;
}
.padding_right_zero {
  padding-right: 0;
}
.padding_bottom_zero {
  padding-bottom: 0;
}
/* ------------------------------------------------------------------------- */

/* margins */

.margin_zero {
  margin-top: 0 !important;
}

.margin_top_10 {
  margin-top: 10px;
}

.margin_top_20 {
  margin-top: 20px;
}

.margin_top_30 {
  margin-top: 30px;
}

.margin_top_40 {
  margin-top: 40px;
}

.original_padding_left_right {
  padding-left: 10%;
  padding-right: 10%;
}

.margin_top_50 {
  margin-top: 50px;
}

.margin_top_60 {
  margin-top: 60px;
}

.margin_top_70 {
  margin-top: 70px;
}

.margin_top_80 {
  margin-top: 80px;
}

.margin_top_90 {
  margin-top: 90px;
}

.margin_top_100 {
  margin-top: 100px;
}

.margin_top_180 {
  margin-top: 180px;
}

.margin_bottom_10 {
  margin-bottom: 10px;
}

.margin_bottom_20 {
  margin-bottom: 20px;
}

.margin_bottom_30 {
  margin-bottom: 30px;
}

.margin_bottom_40 {
  margin-bottom: 40px;
}

.margin_bottom_50 {
  margin-bottom: 50px;
}

.margin_bottom_60 {
  margin-bottom: 60px;
}

.margin_bottom_70 {
  margin-bottom: 70px;
}

.margin_bottom_80 {
  margin-bottom: 80px;
}

.margin_bottom_90 {
  margin-bottom: 90px;
}

.margin_bottom_100 {
  margin-bottom: 100px;
}

.margin_left_10 {
  margin-left: 10px;
}

.margin_left_20 {
  margin-left: 20px;
}

.margin_left_30 {
  margin-left: 30px;
}

.margin_left_40 {
  margin-left: 40px;
}

.margin_left_50 {
  margin-left: 50px;
}

.pmargin_left_60 {
  margin-left: 60px;
}

.margin_left_70 {
  margin-left: 70px;
}

.margin_left_80 {
  margin-left: 80px;
}

.margin_left_90 {
  margin-left: 90px;
}

.margin_left_100 {
  margin-left: 100px;
}

.margin_right_10 {
  margin-right: 10px;
}

.margin_right_20 {
  margin-right: 20px;
}

.margin_right_30 {
  margin-right: 30px;
}

.margin_right_40 {
  margin-right: 40px;
}

.margin_right_50 {
  margin-right: 50px;
}

.margin_right_60 {
  margin-right: 60px;
}

.margin_right_70 {
  margin-right: 70px;
}

.margin_right_80 {
  margin-right: 80px;
}

.margin_right_90 {
  margin-right: 90px;
}

.margin_right_100 {
  margin-right: 100px;
}

/*  */

.half_opacity {
  opacity: 0.5;
}

/*  */

/* margins */

/* --------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- */

/* text/align texts */

.text_align_left_code {
  text-align: left;
}

.text_align_right_code {
  text-align: right;
}

.text_align_center_code {
  text-align: center;
}

.align_self_top_code {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.align_self_center_code {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.align_self_end_code {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

/*  */

.justify_content_end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.justify_content_start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

/*  */

/*  */

.cursor_pointer_code {
  cursor: pointer;
}

/*  */

.full_border_code {
  border: solid;
  border-width: thin;
}

.Horizontal_line {
  height: 0.1px;
  background-color: black;
  margin: 0;
}

/*  */

/*  */

.direction_rtl {
  direction: rtl;
}

.direction_ltr {
  direction: ltr;
}

/*  */

/*  */

/* text/align texts */

/* ---------------------------------------------------------------------------- */

/* per paddings */

.padding_left_right-10 {
  padding-left: 10%;
  padding-right: 10%;
}

.padding_left_right_12 {
  padding-left: 12%;
  padding-right: 12%;
}

.padding_left_right_15 {
  padding-left: 15%;
  padding-right: 15%;
}

.padding_left_right_18 {
  padding-left: 18%;
  padding-right: 18%;
}

.padding_left_right_20 {
  padding-left: 20%;
  padding-right: 20%;
}

/* per paddings */

/* ---------------------------------------------------------------------------- */

.float_right_code {
  float: right;
}

/* font size */

.font_size_type1 {
  font-size: 96px;
}

.font_size_type2 {
  font-size: 60px;
}

.font_size_type3 {
  font-size: 48px;
}

.font_size_type4 {
  font-size: 34px;
}

.font_size_type5 {
  font-size: 30px;
}
.font_size_type6 {
  font-size: 28px;
}
.font_size_type7 {
  font-size: 24px;
}

.font_size_type8 {
  font-size: 20px;
}
.font_size_type9 {
  font-size: 18px;
}

.font_size_type10 {
  font-size: 16px;
}

.font_size_type11 {
  font-size: 14px;
}

.font_size_type12 {
  font-size: 12px;
}

.font_size_type13 {
  font-size: 10px;
}

/* font size */

/* font weight */

.font_weight_100 {
  font-weight: 100;
}

.font_weight_200 {
  font-weight: 200;
}

.font_weight_300 {
  font-weight: 300;
}

.font_weight_400 {
  font-weight: 400;
}

.font_weight_500 {
  font-weight: 500;
}

.font_weight_600 {
  font-weight: 600;
}

.font_weight_700 {
  font-weight: 700;
}

.font_weight_800 {
  font-weight: 800;
}

.font_weight_900 {
  font-weight: 900;
}

/* font weight */

/* ---------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- */

/* colors */

.background_color_black_code {
  background-color: black;
}

.background_color_white_code {
  background-color: white;
}

.color_black_code {
  color: black;
}

.color_white_code {
  color: white;
}

/* colors */

/* ---------------------------------------------------------------------------- */

@media (max-width: 1400px) {
  .padding_left_right_15 {
    padding-left: 10%;
    padding-right: 10%;
  }
  .padding_left_right_10 {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media (max-width: 1200px) {
  .original_padding_left_right {
    padding-left: 5%;
    padding-right: 5%;
  }
  .padding_left_right_15 {
    padding-left: 8%;
    padding-right: 8%;
  }
  .padding_left_right_10 {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 992px) {
  .justify_content_center_phone {
    justify-content: center;
  }
  .padding_left_right_15 {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media (max-width: 768px) {
  .padding_left_right_15 {
    padding-left: 6%;
    padding-right: 6%;
  }
  .display_flex_code_phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .display_none_phone {
    display: none;
  }
  .display_block_code_phone {
    display: block;
  }
  .margin_top_zero_phone {
    margin-top: 0;
  }
  .margin_left_zero_phone {
    margin-left: 0;
  }
  .margin_right_zero_phone {
    margin-right: 0;
  }
  .margin_bottom_zero_phone {
    margin-bottom: 0;
  }

  .padding_top_zero_phone {
    padding-top: 0;
  }
  .padding_left_zero_phone {
    padding-left: 0;
  }
  .padding_right_zero_phone {
    padding-right: 0;
  }
  .padding_bottom_zero_phone {
    padding-bottom: 0;
  }
}

@media (max-width: 576px) {
  .padding_left_right_15 {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 1600px) {
  .parent_of_all {
    max-width: 1200px;
    margin: auto;
  }
  .original_padding_left_right {
    padding-left: 0;
    padding-right: 0;
  }
}

/*# sourceMappingURL=main.css.map */
